scripts=["
  set properties on /content/wknd/jcr:content
    set cq:allowedTemplates to /conf/wknd/settings/wcm/templates/landing-page-template, /conf/wknd/settings/wcm/templates/article-page-template, /conf/wknd/settings/wcm/templates/content-page-template, /conf/wknd/settings/wcm/templates/adventure-page-template, /apps/wcm-io/caconfig/editor-package/templates/editor
  end

  set properties on /content/wknd/us/en/adventures/climbing-new-zealand/jcr:content
    set sling:vanityPath to /content/wknd/us/en/wow
    set cq:propertyInheritanceCancelled{String} to sling:vanityPath
  end

  set properties on /content/wknd/ca/en/adventures/yosemite-backpacking/jcr:content
    set sling:vanityPath to /content/wknd/ca/en/wow
    set cq:propertyInheritanceCancelled{String} to sling:vanityPath
  end

  set properties on /content/wknd/us/jcr:content
    set cq:conf to /conf/TSVU-US
  end

  set properties on /content/wknd/ca/jcr:content
    set cq:conf to /conf/TSVU-CA
  end

  create path /content/wknd/us/configuration(cq:Page)
  create path /content/wknd/us/configuration/jcr:content(cq:PageContent)
  set properties on /content/wknd/us/configuration/jcr:content
    set cq:template to /apps/wcm-io/caconfig/editor-package/templates/editor
    set hideInNav{Boolean} to true
    set jcr:title to Configuration
    set sling:resourceType to wcm-io/caconfig/editor/components/page/editor
  end

  create path /content/wknd/ca/configuration(cq:Page)
  create path /content/wknd/ca/configuration/jcr:content(cq:PageContent)
  set properties on /content/wknd/ca/configuration/jcr:content
    set cq:template to /apps/wcm-io/caconfig/editor-package/templates/editor
    set hideInNav{Boolean} to true
    set jcr:title to Configuration
    set sling:resourceType to wcm-io/caconfig/editor/components/page/editor
  end

"]